body {
  text-align: center;
  background-color: cornflowerblue;
  padding: 1%;
  zoom: 90%;
}

.voltar {
  text-align: center;
  bottom: 0;
  width: max-content;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: auto;
  width: max-content;
}