body {
  text-align: center;
  background-color: rgb(26, 26, 27);
  padding: 1%;
  zoom: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  justify-content: center;
  color: white;
}

.voltar {
  text-align: center;
  bottom: 0;
  width: max-content;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
  border-color: white;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: auto;
  width: max-content;
  border-color: white;
}